## Connect to EMC and fetch data

In [47]:
import contextlib
from cryptography.hazmat.primitives import serialization
from cryptography.hazmat.primitives.serialization import pkcs12

@contextlib.contextmanager
def pfx2pem(pfxPath, pfxPswd):
    '''Decryts pfx file to be used with requests'''
    with open("./nems2024.pem", "wb") as fPem:
        # fPem = open(tPem.name, 'wb')
        pfx = open(pfxPath, 'rb').read()

        privKey, cert, addCerts = pkcs12.load_key_and_certificates(pfx, b"nems2024")

        fPem.write(
            privKey.private_bytes(
                encoding=serialization.Encoding.PEM,
                format=serialization.PrivateFormat.TraditionalOpenSSL,
                encryption_algorithm=serialization.NoEncryption()
            )
        )
        fPem.write(
            cert.public_bytes(
                encoding=serialization.Encoding.PEM
            )
        )
        for addCert in addCerts:
            fPem.write(
                addCert.public_bytes(
                    encoding=serialization.Encoding.PEM
                )
            )

        fPem.close()
        
        yield fPem.name

In [48]:
import requests

url = "https://www.emc.nemsdatasvc.wsi.emcsg.com:9534/nemsdsvc/CorpWebSiteDataReports"

payload = """
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:cor="http://com/emc/nems/wsd/webservices/reports/corpdata" xmlns:java="java:com.emc.nems.wsd.ui.beans.reports">
<soapenv:Header/>
<soapenv:Body>
    <cor:RealTimePriceDataWebService>
        <cor:reportBean>
            <!--Zero or more repetitions:-->
            <java:ReportBean>
                <java:ParamName>Date</java:ParamName>
                <java:ParamValue>19-Mar-2024</java:ParamValue>
            </java:ReportBean>
        </cor:reportBean>
    </cor:RealTimePriceDataWebService>
</soapenv:Body>
</soapenv:Envelope>
"""
headers = {
  'Content-Type': 'text/xml',
  'Accept-Charset': 'UTF-8',
  'Authorization': 'Basic Y2hlZWtlb25nYW5nOlNEQ3NkYzEyMzQ=',
  'Cookie': 'TS01bf107a=01c689c3c12dccd36dbcd5621c75d974db15318a93cb50165f27d8c3929d1a50fe89c682b5611fc77fbff36507d8c92677c9425edc'
}
cert_file = "./nems2024privatekey.pfx"

with pfx2pem(cert_file, b'nems2024') as pemCert:
  response = requests.request("POST", url, headers=headers, data=payload, cert=pemCert, verify=False)

/home/sdc/miniconda3/envs/emcdata/lib/python3.11/site-packages/urllib3/connectionpool.py:1103: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.emc.nemsdatasvc.wsi.emcsg.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

### Save temp data to file

In [45]:
data =  response.text

with open('data.xml', 'w') as f:
    f.write(data)

## Parse XML to pd.Dataframe

In [5]:
import pandas as pd
import xml.etree.ElementTree as ET
import html
# Parse the SOAP response
root = ET.fromstring(data)

# Namespace map
namespaces = {
    'env': 'http://schemas.xmlsoap.org/soap/envelope/',
    'm': 'http://com/emc/nems/wsd/webservices/reports/corpdata'
}

# Extract the embedded XML from <m:return> and unescape it
embedded_xml_str = root.find('.//m:return', namespaces).text
embedded_xml_str = html.unescape(embedded_xml_str)

# Parse the embedded XML
embedded_root = ET.fromstring(embedded_xml_str)

# Define the columns for the DataFrame
columns = [
    "period", "reportType", "tradingDate", "demand", "tcl", "USEP", "lcp",
    "regulation", "primaryReserve", "secondaryReserve", "contingencyReserve",
    "eheur", "solar"
]

# Extract the data for the columns from each <RealTimePrice> element
data_rows = []
for rt_price in embedded_root.iter('RealTimePrice'):  # Use iter() to directly iterate over each RealTimePrice
    row_data = {col: rt_price.find(col).text if rt_price.find(col) is not None else None for col in columns}
    data_rows.append(row_data)
    
RealTimePrice_df = pd.DataFrame(data_rows, columns=columns)

In [6]:
RealTimePrice_df

,period,reportType,tradingDate,demand,tcl,USEP,lcp,regulation,primaryReserve,secondaryReserve,contingencyReserve,eheur,solar
0,25,REP,18-Mar-2024,6675.798,0.000,107.47,0.00,0,.01,None,.05,-0.48,557.61
1,26,REP,18-Mar-2024,6626.367,0.000,99.68,0.00,0,.01,None,.05,-0.44,642.52
2,27,REP,18-Mar-2024,6650.322,0.000,99.68,0.00,0,.01,None,.05,-0.44,662.66
3,28,REP,18-Mar-2024,6630.025,0.000,98.19,0.00,0,.01,None,.05,-0.43,697.87
4,29,REP,18-Mar-2024,6718.227,0.000,103.49,0.00,0,.02,None,.1,-0.49,626.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,44,REP,19-Mar-2024,6792.534,0.000,194.39,0.00,39.9,.5,None,30,-0.87,0
68,45,REP,19-Mar-2024,6658.741,0.000,186.61,0.00,37,.06,None,29,-0.82,0
69,46,REP,19-Mar-2024,6525.396,0.000,150.89,0.00,33.33,.06,None,10,-0.65,0
70,47,REP,19-Mar-2024,6452.322,0.000,156.56,0.00,33.33,.05,None,15.86,-0.64,0
71,48,REP,19-Mar-2024,6434.922,0.000,189.66,0.00,22.22,.01,None,10,-0.79,0

## Insert to DB

In [33]:
insert_df = RealTimePrice_df.drop('reportType', axis = 1)
insert_df = insert_df[['tradingDate', 'period'] + [col for col in insert_df.columns if col not in ['tradingDate', 'period']]]

In [34]:
# Assuming 'insert_df' is your DataFrame
# Convert 'period' to int
insert_df['period'] = insert_df['period'].astype(int)

# Convert 'tradingDate' to datetime
insert_df['tradingDate'] = pd.to_datetime(insert_df['tradingDate'], format='%d-%b-%Y')

# Convert 'demand', 'tcl', 'USEP', 'lcp', 'regulation', 'primaryReserve' to float
float_cols = ['demand', 'tcl', 'USEP', 'lcp', 'regulation', 'primaryReserve']
insert_df[float_cols] = insert_df[float_cols].apply(pd.to_numeric, errors='coerce')

# If 'secondaryReserve' and 'contingencyReserve' can contain 'None', convert to float and keep NaN
insert_df[['secondaryReserve', 'contingencyReserve']] = insert_df[['secondaryReserve', 'contingencyReserve']].apply(pd.to_numeric, errors='coerce')

# 'eheur' and 'solar' can also be converted to float
insert_df[['eheur', 'solar']] = insert_df[['eheur', 'solar']].apply(pd.to_numeric, errors='coerce')
insert_df

,tradingDate,period,demand,tcl,USEP,lcp,regulation,primaryReserve,secondaryReserve,contingencyReserve,eheur,solar
0,2024-03-18,25,6675.798,0.0,107.47,0.0,0.00,0.01,NaN,0.05,-0.48,557.61
1,2024-03-18,26,6626.367,0.0,99.68,0.0,0.00,0.01,NaN,0.05,-0.44,642.52
2,2024-03-18,27,6650.322,0.0,99.68,0.0,0.00,0.01,NaN,0.05,-0.44,662.66
3,2024-03-18,28,6630.025,0.0,98.19,0.0,0.00,0.01,NaN,0.05,-0.43,697.87
4,2024-03-18,29,6718.227,0.0,103.49,0.0,0.00,0.02,NaN,0.10,-0.49,626.36
...,...,...,...,...,...,...,...,...,...,...,...,...
67,2024-03-19,44,6792.534,0.0,194.39,0.0,39.90,0.50,NaN,30.00,-0.87,0.00
68,2024-03-19,45,6658.741,0.0,186.61,0.0,37.00,0.06,NaN,29.00,-0.82,0.00
69,2024-03-19,46,6525.396,0.0,150.89,0.0,33.33,0.06,NaN,10.00,-0.65,0.00
70,2024-03-19,47,6452.322,0.0,156.56,0.0,33.33,0.05,NaN,15.86,-0.64,0.00
71,2024-03-19,48,6434.922,0.0,189.66,0.0,22.22,0.01,NaN,10.00,-0.79,0.00

In [42]:
import psycopg2
from psycopg2.extras import execute_values

try:
    # Connect to your PostgreSQL database
    conn = psycopg2.connect(
        dbname="postgres", 
        user="sdcmktops", 
        password="SDCsdc1234", 
        host="postgres-1.cvh49u2v99nl.ap-southeast-1.rds.amazonaws.com"
    )
    cur = conn.cursor()

    # Assuming your DataFrame is named df
    # Note: Adjusted the DataFrame variable name from test_df to df based on initial setup
    data_tuples = list(insert_df.itertuples(index=False, name=None))

    # Define your INSERT statement (adjusted to match your correct SQL syntax)
    insert_query = """INSERT INTO emcdata.\"RealTimePrice\" (\"Date\", \"period\", \"demand\", \"tcl\", \"USEP\", \"lcp\", \"regulation\", \"primaryReserve\", \"secondaryReserve\", \"contingencyReserve\", \"eheur\", \"solar\") VALUES %s
                        ON CONFLICT (\"Date\", \"period\") DO NOTHING;"""

    # Insert data
    execute_values(cur, insert_query, data_tuples)

    # Commit the transaction
    conn.commit()

except Exception as e:
    print("An error occurred:", e)
    # Rollback the transaction in case of error
    conn.rollback()
finally:
    # Ensure the cursor and connection are always closed
    if cur is not None:
        cur.close()
    if conn is not None:
        conn.close()